.git
.github
.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.cr-release-packages
charts
ci
pages
scripts
tests
*.md
!README.md
.dockerignore
.kube-linter.yaml
.yamllint
cr.yaml
CHANGELOG.md
LICENSE
